<?php

# Define your database credentials here
define('GITSTASH_DB_HOST', '127.0.0.1');
define('GITSTASH_DB_USER', 'gitstash');
define('GITSTASH_DB_PASS', 'gitstash');
define('GITSTASH_DB_NAME', 'gitstash');
