/web/bundles/
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/app/phpunit.xml
/vendor/
/bin/
/composer.phar

# Ignore entity backup files
.php~

# Ignore node modules
/node_modules

# Ignore bower files
/web/components
