<!-- Modal -->
<div class="modal fade" id="sshKeyModal" tabindex="-1" role="dialog" aria-labelledby="sshKeyModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Add a new SSH key</h4>
      </div>
      <div class="modal-body">
            {{ form(sshkeyForm) }}
      </div>

      <div class="modal-footer">
          <button id="submitSshKeyButton" type="button" class="btn btn-success"><i class="fa fa-save"></i> Save key</button>
      </div>
    </div>
  </div>
</div>
