{% extends "::base.html.twig" %}

{% block title %}Repo {{ repo.name }}{% endblock %}

{% block body %}

    <h3>Repo name: {{ repo.name }}</h3>
    <h4>Repo description: {{ repo.description }}</h4>

    <p>A list of all contributors of this repository based on commits.</p>

    <div id="contributor-scroll">
        {% include "NoxLogicAppBundle:Repo:fragments/contributors.html.twig" %}
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script src="/js/jquery.scroll.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function() {

            $('#contributor-scroll').jscroll({
                loadingHtml: '<img src="/bundles/framework/images/grey_magnifier.png" alt="Loading" /> Loading...',
                padding: 20,
                autoTriggerUntil: 3,
                debug: true
            });

        });
    </script>

{% endblock %}
